/*--------------------------------------------------------------
6. Button
----------------------------------------------------------------*/
.st-btn.st-style1,
.st-btn.st-style2 {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 600;
  padding: 0.8em 2.5em;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
}
.st-btn.st-style2 {
  border: 1px solid;
  padding: 0.734em 3.2em;
}
.st-btn.st-style1 {
  background-color: $pink;
  color: #fff;
}
.st-btn.st-style1.st-color2 {
  background: $black1;
  color: #fff;
}
.st-btn.st-style1.st-color3 {
  background: #fff;
  color: #222;
}
.st-btn.st-style1.st-color4 {
  background-color: $pink;
  color: #fff;
}
.st-btn.st-style1.st-color5 {
  background: linear-gradient(
    45deg,
    rgba(20, 70, 234, 1) 0%,
    rgba(3, 220, 236, 1) 88%,
    rgba(3, 220, 236, 1) 100%
  );
  color: #fff;
}
.st-btn.st-style2.st-color1 {
  background-color: $white;
  border-color: $pink;
  color: $pink;
}
.st-btn.st-style2.st-color1:hover {
  background-color: $pink;
  color: #fff;
}
.st-btn.st-size-medium {
  padding: 0.6em 1.8em;
}
.st-btn.st-style2.st-color2 {
  border-color: #fff;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #222;
  }
}
.st-hero-btn-group {
  .st-btn:not(:last-child) {
    margin-right: 12px;
  }
}
.st-btn.st-style1 {
  &::before {
    background-color: $dark-gray;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transform: scale(0, 1);
    transform-origin: top right;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
}
.st-btn.st-style1 {
  &:hover {
    &::before {
      transform: scale(1, 1);
      transform-origin: top left;
    }
  }
}

@media screen and (max-width: 991px) {
  .st-btn.st-style1,
  .st-btn.st-style2 {
    font-size: 14px;
    padding: 0.72em 1.8em;
  }
}
